/* CENTER LAYOUT */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 14px;

  /* 🔥 mobile friendly */
  width: 100%;
  max-width: 420px;
  padding: 0 16px;
}
