/* CENTER LAYOUT */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;

  width: 100%;
  max-width: 420px;
  padding: 0 16px;
}

/* BUTTON GROUP */
.btn-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

/* BUTTON SIZE */
.btn-group button {
  width: 100%;
  max-width: 240px;
}
